# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs diff=csharp

# GitHub Linguist language detection
*.m linguist-language=MATLAB
*.tex linguist-language=TeX
*.bib linguist-language=BibTeX
*.sty linguist-language=TeX
*.cls linguist-language=TeX
docs/latex/** linguist-language=TeX

# Standard to msysgit
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
